body {
    margin: 0;
    font: 20px/1.5 'Lato', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.clr{
    clear: both;
}
#header {
    background-color: #eee; /* BG does not applies, why?*/
}

#header  h2{
    float: left;
}

#header a{
    margin: 25px 0 0 25px;
    padding: 5px 10px;
    float: right;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.section-a-e {
    min-height: 500px;
    background: url('https://images.pexels.com/photos/4630013/pexels-photo-4630013.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.section-a-e h1{
    padding-top: 150px;
    font-size: 50px;
    color: white;
    margin-top: 0;
}

.section-a-e input[type="email"] {
    display: block;
    width: 95%;
    padding: 15px 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
 
.section-a-e input[type="email"]::placeholder{
    font-size: large;
}
.section-a-e .button1 {
    display: block;
    width: 80%;
    padding: 10px;
    background-color:  #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 4px;
    margin: 20px 35px;
    font-size: large;
}

#section-b{
    margin: 50px 0;
}

#section-b .box {
   margin: 20px 0;
}

#section-b .box img {
    height: 80px;
}

#section-c .bg-img1{
    background-image: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}
#section-c .bg-img2{
    background-image: url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}
#section-c .bg-img3{
    background-image: url('https://images.pexels.com/photos/298825/pexels-photo-298825.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

#section-c .content{
    padding: 35px 75px;
    text-align: start;
}
#section-d {
    background-color: #eee;
}

#section-d {
   padding: 75px 0;
}

#section-d .main-title{
    font-size: 40px;
}

#section-d .testimonial{
    padding: 25px 0;
}
#section-d .testimonial img {
    border-radius: 50%;
    width: 50%;
    min-height: 100px;
}
#footer{
    font-size: smaller;
    padding: 50px 0;
}

#footer ul{
    padding-left: 0;
}
#footer li{
    color: #007bff;
    display: inline-block;
    list-style: none;
}
#footer li:not(:last-child){
   margin-right: 18px;
}
#footer a{
    text-decoration: none;
    color: #007bff;
}
#footer img{
    margin: 0 10px;
}

@media (min-width:900px){
    .section-a-e input[type="email"] {
        display: inline-block;
        width: 60%;
    }

    .section-a-e .button1 {
        display: inline-block;
        width: 20%;
        margin: 0 10px;
    }

    #section-b{
        
    }
    #section-b .box{
        float: left;
        width: 30%;
        margin: 10% 1.6%;
    }
    
    #section-c .content{
        padding: 0;
        min-height: 450px;
    }
    #section-c .content h1{
        padding: 100px 50px 0 50px;
    }
    #section-c .content p{
        padding: 0 50px;
    }
    #section-c .future{
        display: flex;
    }

    .future .content, .future .bg-img1,
    .future .bg-img2, .future .bg-img3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .future .bg-img1, .future .bg-img3,
    .future .two{
        order: 2;
    }
    .future .bg-img2, .future .one, 
    .future .three{
        order: 1;
    }

    

}